/* Hide scrollbar but allow scrolling */
body,
html {
  overflow: hidden; /* Prevents horizontal scrolling */
  overflow-y: scroll; /* Keeps vertical scrolling */
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
  display: none; /* For WebKit browsers (Chrome, Safari, etc.) */
}
