.main-footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 0;

  .footer-logo {
    margin-bottom: 30px;

    h1 {
      font-size: 36px;
      font-weight: 700;
      color: #454545;
    }

    p {
      font-size: 16px;
      color: #616161;
      margin-top: 10px;
    }
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    list-style-type: none;
    padding: 0;

    li {
      font-size: 18px;
      color: #454545;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #ff6f61;
      }
    }
  }

  .footer-social-icons {
    .footer-icons-container {
      display: flex;
      gap: 30px;
      margin-bottom: 10px;

      .social-icon {
        font-size: 30px;
        color: #454545;
        transition: color 0.3s ease;

        &:hover {
          color: #ff6f61;
        }
      }
    }
  }

  .footer-bottom {
    font-size: 16px;
    color: #616161;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    margin-top: 0; // Ensuring no extra space is added
    width: 100%;
    padding-bottom: 15px;
    background: linear-gradient(180deg, #ffffff, #f7deb8 60%);
  }

  // Mobile responsive
  @media (max-width: 768px) {
    .main-footer {
      padding: 20px;
      .footer-logo {
        margin-bottom: 20px;
      }

      .footer-links {
        flex-direction: column;
        gap: 15px;
      }

      .footer-social-icons {
        .footer-icons-container {
          gap: 20px;
        }
      }
    }
  }
}
